/* react datagrid filter height
.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__column-header__filter-wrapper .InovuaReactDataGrid__column-header__filter {
	min-height: 22px !important;
	max-height: 22px !important;
}

.inovua-react-toolkit-numeric-input.inovua-react-toolkit-numeric-input--theme-default-light .inovua-react-toolkit-numeric-input__spinner-wrapper {
	width: 24px !important;
	height: 22px !important;
	min-height: 20px !important;
}

.inovua-react-toolkit-date-input--theme-default-light .inovua-react-toolkit-date-input__input {
	min-height: 20px !important;
	height: 20px !important;
}

.inovua-react-toolkit-date-input--theme-default-light .inovua-react-toolkit-date-input__input,
.inovua-react-toolkit-text-input.inovua-react-toolkit-text-input--theme-default-light,
.inovua-react-toolkit-numeric-input.inovua-react-toolkit-numeric-input--theme-default-light .inovua-react-toolkit-numeric-input__input {
	font-size: 11px !important;
}

.custom-field-date input:focus {
	outline: none;
}

.InovuaReactDataGrid__row--active {
	background-color: #fef3c7 !important
}

.InovuaReactDataGrid__row-cell-wrap:hover {
	background-color: #fef3c7 !important
}

.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__column-header__content {
	padding: 6px !important;
}

.InovuaReactDataGrid__box--ellipsis:has(.ex-header) {
	text-overflow: unset !important;
}

#inputSelect::placeholder {
	color: #000000;
	opacity: 1;
}

.InovuaReactDataGrid--theme-default-light .InovuaReactDataGrid__cell:not(.InovuaReactDataGrid__cell--no-padding) {
	padding: 2px 5px !important;
} */