@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: local('Roboto'), url(./assets/font/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto Condensed";
  src: local('Roboto Condensed'), url(./assets/font/roboto/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "Poppins";
  src: local('Poppins'), url(./assets/font/poppins/Poppins-Regular.ttf);
}

.main-container {
  @apply relative bg-white w-full m-4 h-fit p-3 shadow shadow-gray-400
}
/* .main-container {
  @apply w-full h-full p-3 shadow shadow-gray-400
} */
.main-container-transparent {
  @apply relative w-full
}

header {
  @apply text-2xl
}

main {
  @apply max-w-[1000px] mx-auto bg-red-200
}

h1 {
  @apply text-3xl
}

h2 {
  @apply text-[0.9rem]
}

h3 {
  @apply text-[0.8rem]
}

h4 {
  @apply text-[0.7rem]
}

h5 {
  @apply text-[0.6rem]
}

.main-content {
  @apply w-full
}

.card-main {
  @apply p-2 md:p-3 bg-white shadow flex flex-col
}

.wrapper-main {
  @apply flex flex-col space-y-3 h-full
}

.modal-card {
  @apply bg-white p-5 w-fit min-w-full md:min-w-[15rem] lg:min-w-[25rem] max-w-full md:max-w-[25rem] lg:max-w-[25rem] text-center m-auto rounded font-semibold flex flex-col space-y-4 items-center
}

.custom-body {
  @apply flex min-h-screen
}

.form-box {
  @apply border rounded px-2 py-1 text-sm min-h-[2rem]
}

.sidebar {
  @apply bg-blue-950 w-[3rem] 2xl:w-[15rem] whitespace-nowrap fixed hover:overflow-y-scroll z-[99] inset-0 mt-10 transition-all duration-150 ease-in hover:w-[22rem]
}

.recrusive-menu {
  @apply ml-0 pl-0 border-l-0 2xl:ml-4 2xl:pl-1 2xl:border-l-2 border-gray-500
}

.sidebar:hover .recrusive-menu {
  @apply ml-4 pl-1 border-l-2
}

.navbar {
  @apply mx-2 py-2 translate-y-[0.55rem] -translate-x-[0.20rem]
}

/* navbar */
.active .link-custom img, .active .navbar img {
  filter: invert(97%) sepia(34%) saturate(4126%) hue-rotate(321deg) brightness(109%) contrast(98%)
}

.inactive .link-custom:hover img,
.inactive .navbar:hover img {
  filter: invert(97%) sepia(34%) saturate(4126%) hue-rotate(321deg) brightness(109%) contrast(98%)
}

.link-custom img,
.navbar img {
  filter: invert(65%) sepia(17%) saturate(183%) hue-rotate(179deg) brightness(98%) contrast(88%)
}

.active {
  @apply text-yellow-300 bg-blue-800 shadow
}

.inactive {
  @apply hover:text-yellow-300
}

button:disabled {
  opacity: 0.4 !important
}

.label-form {
  @apply text-gray-700
}

.btn {
  @apply flex px-[0.85rem] py-[0.4rem] rounded font-semibold uppercase text-xs min-w-[5rem] justify-center items-center
}

.color-primary {
  @apply bg-gradient-to-r from-green-600 to-green-500 hover:from-green-500 hover:to-green-600 text-white
}

.color-secondary {
  @apply bg-white text-slate-500 border border-slate-500
}

.color-danger {
  @apply bg-red-800 text-white border
}

.color-danger-outline {
  @apply bg-white text-red-800 border border-red-800
}

.table-area {
  @apply relative w-full
}

body .custom-modal {
  @apply overflow-hidden
}

.link-custom {
  @apply flex items-center space-x-3
}

.subsmenu {
  @apply pl-5 pr-4 py-1 bg-[#1e326c]
}

.multi-navbar:hover {
  @apply bg-blue-200
}

.multi-label {
  @apply px-2 py-1 overflow-hidden overflow-ellipsis flex justify-between w-full items-center
}

.multi-label>div {
  @apply overflow-hidden overflow-ellipsis
}

.multi-label:hover>.auto-scroll {
  text-overflow: unset;
  overflow: visible;
  animation: sweep 3s linear infinite;
}

.auto-scroll:hover {
  /* text-overflow: unset; */
  overflow: visible;
  animation: sweep 3s linear infinite;
}

@keyframes sweep {
  0% {
    transform: translate(0%, 0);
  }

  100% {
    transform: translate(-80%, 0);
  }
}

/* .rdt_TableCell div {
  width: 100% !important;
} */

th,
td {
  @apply px-2 py-1
}

.custom-shadow {
  @apply shadow-[0_5px_20px_-2px_rgba(0,0,0,0.3)]
}
.table-height {
  @apply min-h-[25rem]
}
/* .custom-empty-chart > li {
  margin-left: 2px;
} */

/* .custom-table-simple > th,
td {
  @apply px-2 py-1
} */
.custom-field-date input:focus {
	outline: none;
}